body {
  background-color: palegoldenrod;
  font-family: "Open Sans", sans-serif;
}

main {
  color: white;
  /* background-image: url(ChrisBackground.jpg);
    height: 650px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;  */
  /* margin: 50px; */
  /* color: rgb(6, 58, 170); 
    justify-content: center;
    align-items: center; */

  /* opacity: 0.9; */
}

h1 {
  color: black;
  text-align: center;
  font-size: 80px;
  text-emphasis: bold;
  font-family: "Inconsolata", monospace;
}

* {
  box-sizing: border-box;
}

.triviaBox {
  height: 500px;
  width: 700px;
  background-image: url(ChrisWrong.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px auto;
  border-radius: 8px;
  padding: 25px;
}

.triviaBox .choices {
  float: left;
  width: 100%;
}

.triviaBox .choices ul {
  list-style: none;
  padding: 0%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.triviaBox .question {
  min-height: 50px;
  /* max-height: 80px; */
  background-color: grey;
  border-radius: 8px;
  color: white;
  padding: 15px;
  float: left;
  width: 100%;
  font-size: 25px;
  opacity: 0.8;
}

.triviaBox .choices ul li {
  display: inline-block;
  background-color: rgb(9, 171, 189);
  width: 40%;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.triviaBox .choices ul li.correct {
  background-color: green;
}

.triviaBox .choices ul li.wrong {
  background-color: red;
}

.triviaBox .choices ul li:active{
  box-shadow: 0px 0px 0px  rgb(84, 110, 179);
}

.triviaBox .score {
  float: left;
  width: 100%;
}

.triviaBox .score .scoreCounter {
  width: 60%;
  float: right;
  line-height: 40px;
  font-size: 20px;
}

.triviaBox .score .next {
  width: 50%;
  float: left;
}

.triviaBox .score .scoreCounter span {
  background-color: rgb(45, 72, 184);
  padding: 5px 20px;
  border: none;
  color: white;
  border-radius: 8px;
}

.triviaBox .score .next button {
  padding: 10px 70px;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 8px;
}
