body {
    
  font-family: 'Montserrat', sans-serif;
  
}

html { 
  background: url(ChrisBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




 aside {
   float: left;
 }

h1 {
  font-size: 42px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: #bfff01;
  text-align: center;
  font-family: 'Bangers', cursive;
  text-emphasis: bold;
  text-shadow: 0px 0px 20px rebeccapurple;
}




.triviaBox {
  height: 500px;
  width: 700px;
   margin: 30px auto;
  border-radius: 8px;
  padding: 25px; 
  
 } 

.triviaBox .choices {
  float: left;
  width: 100%;
}

.triviaBox .choices ul {
  list-style: none;
  padding: 0%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: black;
}

.triviaBox .question {
 
  min-height: 50px;
  background-color:#3a0ca3;
  border-radius: 8px;
  color: white;
  padding: 15px;
  float: left;
  width: 100%;
  font-size: 25px;
  opacity: 0.75;
  border: 3px solid rgb(61, 2, 100);
  text-shadow: 0px 0px 10px rebeccapurple;
}

.triviaBox .choices ul li {
  display: inline-block;
  background-color: #f72585;
  width: 40%;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin: 10px;
  color: black;
  cursor: pointer;
  border: 3px solid rgb(90, 1, 78);
  opacity: .9;
}

.triviaBox .choices ul li.correct {
  background-color: green;
}

.triviaBox .choices ul li.wrong {
  background-color: red;
}

.triviaBox .choices ul li:active{
  box-shadow: 0px 0px 0px  rgb(84, 110, 179);
}

.triviaBox .score {
  float: left;
  width: 100%;
}

h3 {
  text-decoration-line: underline;
  text-decoration-style: wavy ;
}

.triviaBox .score .scoreCounter {
  width: 60%;
  float: right;
  line-height: 40px;
  font-size: 20px;
  color: #bfff01 ;
  text-emphasis: bold;
  text-shadow: 0px 0px 10px rgb(92, 141, 1);
  
}

.triviaBox .score .next {
  width: 50%;
  float: left;
}

.triviaBox .score .scoreCounter span {
  background-color: #4361ee;
  padding: 5px 20px;
  border: 2px solid rgb(60, 2, 94);
  color: white;
  border-radius: 8px;
}

.triviaBox .score .next button {
  padding: 10px 70px;
  color: rgb(54, 53, 52);
  text-shadow: 0px 0px 2px rgb(247, 210, 142);
  background-color: #4cc9f0;
  border: 2px solid rgb(2, 79, 82);
  border-radius: 8px;
}
